body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
}
#header {
    display: flex;

    flex: 1;
    border-bottom: 2px solid black;
    margin: 15px;
    padding-left: 30px;
}
#header a {
    /* justify-content: space-between; */
    padding-left: 25px;
    margin-top: 12px;
    font-size: x-large;
    font-weight: bold;
}
#body {
    margin: 25px;
}
